* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: microsoft jhenghei;
}

body {
    background-color: rgb(245, 240, 240);
    font-size: 20px;
}

.container {
    width: 1200px;
    margin: auto;
}

header {
    background-color: #32BEA6;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    padding: 0.5rem;

}

h1 {
    color: white;
}

.start {
    background-color: #fffddb;
    text-align: center;
    padding-top: 20px;
}

#start_button {
    width: 150px;
    height: 50px;
    background-color: #c3455f;
    border: 1px solid #c3455f;
    border-radius: 20px;
    -webkit-box-shadow: 5px 5px 5px rgba(102, 100, 100, 0.3);
    box-shadow: 5px 5px 5px rgba(102, 100, 100, 0.3);
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
}

#start_button:hover {
    background-color: #b42f49;
    border: 1px solid #b42f49;
}

#game_text {
    padding-top: 1rem;
    font-weight: bold;
    font-size: 2rem;
    color: #f53434;
}

.Game_content {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #fffddb;
    padding: 1rem;
}

.card {
    width: 234px;
    height: 216px;
    margin: 10px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    cursor: pointer;
}

.font,
.back {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 5px rgba(102, 100, 100, 0.3);
    box-shadow: 5px 5px 5px rgba(102, 100, 100, 0.3);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

.font {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.font.after {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.back.after {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

footer {
    background-color: #32BEA6;
    border-radius: 0 0 15px 15px;
    padding: 10px;
    color: white;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width:991.5px) {
    .container {
        width: 1000px;
        margin: auto;
    }

    .card {
        width: 187.2px;
        height: 172.8px;
    }
}

@media screen and (max-width:600px) {
    .container {
        width: 800px;
        margin: auto;
    }

    .card {
        width: 149.6px;
        height: 138.24px;
    }
}